body {
    background-color: #FBC4AB;
}
.card {
    padding: 10px;
    margin: 3rem;
    border: 3px solid #F08080;
    background-color: #F4978E;
    text-align: center;
}

.rmv-button {
    padding: 5px;
    border: 2px solid white;
    background-color: #EB6262;
    transition: all 0.3s
}

.rmv-button:hover {
    transform: scale(1.1);
}
.btn {
    background-color: #F08080;
}